<!-- Header partial -->
<div class="header">
	<a href="/" class="logo">
		<img src="public/image/uptime.png" alt="{global.appName}" />
	</a>
	<ul class="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/account/create" class="loggedOut">Signup</a></li>
		<li><a href="/session/create" class="loggedOut">Login</a></li>
		<li><a href="/checks/all" class="loggedIn">Dashboard</a></li>
		<li><a href="/account/edit" class="loggedIn">Account settings</a></li>
		<li><a href="/" class="loggedIn">Logout</a></li>
	</ul>
</div>
