<!-- Header partial -->
<div class="header">
	<a href="/" class="logo">
		<img src="public/image/uptime.png" alt="{global.appName}" />
	</a>
	<ul class="menu">
		<li><a href="/">Home</a></li>
		<li class="loggedOut"><a href="/account/create">Signup</a></li>
		<li class="loggedOut"><a href="/session/create">Login</a></li>
		<li class="loggedIn"><a href="/checks/all">Dashboard</a></li>
		<li class="loggedIn"><a href="/account/edit">Account settings</a></li>
		<li class="loggedIn"><a href="/pizza/menu">Menu</a></li>
		<li class="loggedIn"><a href="/pizza/shopping">Carrito</a></li>
		<li class="loggedIn"><a href="pizza/order">Ordenes</a></li>
		<li class="loggedIn"><a href="/" id="logoutButton">Logout</a></li>
	</ul>
	<div class="clear"></div>
</div>
