<!doctype html>
<html lang="es-mx">
<head>
	<!-- General settings -->
	<meta charset="UTF-8">
	<meta http-equiv="content-language" content="es-mx" />
	<base href="{global.baseUrl}" />
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Meta tags -->
	<title>{head.title} | {global.appName}</title>
	<meta name="description" content="{head.description}">

	<!-- Static assets -->
	<link rel="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="public/app.css">
</head>
<body class="{body.class}">
	<!-- Page wrapper -->
	<div class="wrapper">
		{header}

		<div class="content">
			{content}
		</div>

		{footer}
	</div>

	<script type="application/javascript" charset="utf-8" src="public/app.js"></script>
</body>
</html>
